<div id="All_listing">
<div class="posting">

<h2>All Listings</h2>
<br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://s1.it.atcdn.net/wp-content/uploads/2015/08/6-Tokyo.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://wallpapersite.com/images/pages/pic_w/2887.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="http://travel.home.sndimg.com/content/dam/images/travel/fullset/2015/05/28/big-ben-london-england.jpg.rend.hgtvcom.581.436.suffix/1491582155388.jpeg" alt="Third slide">
    </div>
  </div>
</div>
<div = "Refining">
  Refine your search
</div>
<br>
<%=form_tag '/search', id:"city_form", method:"get" do %>
  <%= label_tag(:city, "Search for:") %>
  <%= text_field_tag 'city', nil, list: 'list' %>
  <datalist id="list">
  </datalist>
  <%= label_tag(:people, "Number of people:") %>
  <%= text_field_tag(:people) %>
  <%= submit_tag("Search la") %> 

<br>
<div = "Room_type">
  Room type
  <%= form_tag '/search', id:"room_type", method:"get" do %>
  <%= check_box_tag "Whole house", {:multiple => true}, nil%>
  <%= label_tag "Whole house" %> 
  <%= check_box_tag "Private room", {:multiple => true}, nil %>
  <%= label_tag "Private room" %>
  <%= check_box_tag "Shared room", {:multiple => true}, nil %>
  <%= label_tag "Shared room" %> 
  <%= submit_tag "submit!" %>
  <% end %>
<br>
Min price<%= range_field_tag(:price, in: 1.0..200.0, step: 1.0) %>Max price
</div>

<% @listings.each do |listing| %>
	<%= listing.city %> <br>
	<%= listing.description %>
	<%= listing.people %>
	<%= listing.amenities %>
  <%= listing.price %>

	
	<%= image_tag listing.image%> <br> <br>


	<%= link_to "Edit listing", edit_listing_path(listing) %> <br>

 	<%= link_to "Make reservation", new_listing_reservation_path(listing) %> <br>
 	
	<%= link_to "Delete listing", listing_path(listing), method: :delete %> <br>

<% end %>
<br>
<div id="host"> Interested in becoming a host instead? Rent out your property today! </div>
<%= button_to "Create Listing", new_listing_path, method: :get %>

<br>
<%= paginate @listings %>
<!-- 
<div id="listing-form" style="display:none;"></div> -->

<% end %> 
</div>