<!DOCTYPE html>
<html>
  <div class ="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <br>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
  </div>

  <body>
  <div id="airbnb_logo">
   <h1>Airbnb</h1>
    <h2> Explore the world with ease! </h2>
     <%= link_to root_path do %> <%= image_tag "http://www.valuewalk.com/wp-content/uploads/2016/08/Airbnb.png"  %> </div>  
    <% end %>
   <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

    <div id ="welcome">
		<% if signed_in? %>
		  <%= current_user.email %>
      <%= yield %>
		  <%= button_to "Sign out", sign_out_path, method: :delete %>
    
		<% else %>
		  <%= link_to "Sign in", sign_in_path %>
  	
  		 
		  <%= link_to "Sign in with Facebook", "/auth/facebook" %> 
    </div>
  		<div class="container main_container">



  			<%= yield %>
  		</div>
		<% end %>
    </welcome>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.3.2/flatpickr.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
